@use "components";

html {
    min-width: 100vw;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Raleway';
}

*, *::before, *::after{
    box-sizing: inherit;
}

a, h2{
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}

i{
    font-size: 2rem;
}
